@import 'styles/colors';
.dropdown {
    position: relative;

    &_container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-width: 10rem;
        max-width: 13.75rem;
        height: 1.25rem;
        border: 1px solid $sub-text;
        background-color: $stroke;
        padding: 1rem;
        border-radius: 0.5rem;
        color: $black;
    }
}
