.profile {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;

    & > * {
        margin: 0 0.5rem;
    }

    &_cover {
        background-color: #dcdcdc;
        border-radius: 50%;
        content: '';
        width: 2.5rem;
        height: 2.5rem;
        aspect-ratio: 1/1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_sidebar {
        position: absolute;
        top: 2.5rem;
        right: 0;
        filter: drop-shadow(0 4px 40px rgba(100, 100, 100, 0.1));
        padding: 1rem;
        background-color: #fff;
        border-radius: 1.25rem;
        margin: 1rem;
    }
}

.chevron {
    &_up {
        transform: rotate(180deg);
        transition: rotate 1s;
    }

    &_down {
        transform: rotate(0deg);
        transition: rotate 1s;
    }
}
