.onboarding {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    font-size: 1.25rem;
    font-weight: 700;
    padding: calc(1.25rem * 0.5) 2.5rem;
    border-radius: 0.5rem;
    margin: 2.5rem 0 2.5rem 0;
}
