@import 'styles/mixins';
@import 'styles/colors';

.helpdesk {
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 999;
    cursor: pointer;
    background-color: $primary-btn;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 40px rgba(255, 254, 254, 0.5);

    .text {
        color: $primary;
    }

    .illu {
        width: 60%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
