@import 'styles/mixins';
@import 'styles/colors';
.humberger {
    display: unset;
    width: 2.5rem;
    height: 30px;
    position: fixed;
    top: 1rem;
    right: 2.5rem;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    span {
        display: block;
        position: absolute;
        height: 5px;
        background: $primary;
        border-radius: 5px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: 0.25s ease-in-out;
        -moz-transition: 0.25s ease-in-out;
        -o-transition: 0.25s ease-in-out;
        transition: 0.25s ease-in-out;
    }
    @include media-max-width($mobile-breakpoint) {
        height: 2rem;
        width: 2rem;
        span {
            height: 3px;
        }
    }
    span:nth-child(1) {
        top: 0px;
        width: 100%;
    }
    span:nth-child(2) {
        top: 10px;
        width: 70%;
        @include media-max-width($mobile-breakpoint) {
            top: 10px;
        }
    }
    span:nth-child(3) {
        top: 20px;
        width: 100%;
        @include media-max-width($mobile-breakpoint) {
            top: 20px;
        }
    }

    &.open {
        span:nth-child(1) {
            top: 0.5rem;
            -webkit-transform: rotate(135deg);
            -moz-transform: rotate(135deg);
            -o-transform: rotate(135deg);
            transform: rotate(135deg);
        }
        span:nth-child(2) {
            opacity: 0;
            left: -60px;
        }
        span:nth-child(3) {
            top: 0.5rem;
            -webkit-transform: rotate(-135deg);
            -moz-transform: rotate(-135deg);
            -o-transform: rotate(-135deg);
            transform: rotate(-135deg);
        }
    }
}
