@import 'styles/mixins';
.cardevent {
    display: flex;
    flex-direction: row;
    // padding: 2rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-color: #fff;
    color: black;
    margin: 1rem;
    border: 1px solid #dcdcdc;
    // filter: drop-shadow(0px 4px 2.5rem rgba(40, 40, 40, 0.1));

    &.column {
        flex-direction: column;
    }
    &.column_reverse {
        flex-direction: column-reverse;
    }
    &.column,
    &.column_reverse {
        height: 100%;
        max-width: 31.25rem;
        min-width: 19rem;
        align-self: stretch;

        .cardevent_event {
            min-height: 12.5rem;
            max-height: 17.5rem;
            overflow-y: auto;
        }
    }
    &.row_reverse {
        flex-direction: row-reverse;
    }

    @include media-max-width($mobile-breakpoint) {
        flex-direction: column;
    }

    &_illu {
        // max-width: 31.25rem;
        border-top-left-radius: 0.5rem;
        border-top-right-radius: 0.5rem;
        padding: 1rem;
        // max-width: 300px;
        width: 100%;
        img {
            width: inherit;
            height: auto;
        }
    }

    &_event {
        padding: 1rem;
        overflow-y: auto;
        &__title {
            font-size: 1.4rem;
            line-height: 150%;
            word-wrap: break-word;
            overflow-wrap: break-word;
            hyphens: auto;
            height: 3.125rem;
            overflow: auto;
        }
        &__description {
            font-size: 1.2rem;
            line-height: 1.6rem;
            overflow-y: auto;

            @include media-max-width($mobile-breakpoint) {
                font-size: 1rem;
            }
            p,
            span {
                hyphens: auto;
                word-wrap: break-word;
                overflow-wrap: break-word;
                line-height: 1.9rem;
            }
        }
    }
    &_cta {
        padding: 1rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        button {
            flex-grow: 1;
            &:not(:last-of-type) {
                margin-right: 10px;
            }
        }
    }
}
