@import 'styles/colors';
@import 'styles/mixins';

.header_container {
    display: flex;
    flex: row;
    width: 100%;
    justify-content: flex-start;
    align-items: center;

    &__title {
        flex-grow: 1;
    }
    &__navigation {
        width: 12rem;
        display: flex;
        justify-content: space-between;
        &___item {
            cursor: pointer;
        }
    }
}
.body_container {
    width: 100%;
    position: relative;
}
.navigation {
    &__left {
        cursor: pointer;
        position: absolute;
        top: 50%;
        left: 0;
        transform: translate(0%, -50%);
    }
    &__right {
        cursor: pointer;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translate(0%, -50%);
    }
}
.carousel {
    max-height: 52em;
    height: auto;
    display: flex;
    overflow: hidden;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
    scroll-behavior: smooth;
    position: relative;

    &.center {
        justify-content: center;

        @include media-max-width($mobile-breakpoint) {
            justify-content: flex-start;
        }
    }

    & > div:first-of-type {
        margin-left: 0;
    }
    & > div:last-of-type {
        margin-right: 0;
    }
}
