@import 'styles/colors';
@import 'styles/mixins';
.button {
    outline: none;
    border: none;
    @include global-radius();
    @include button_animation();
    cursor: pointer;
    overflow: hidden;
    font-weight: 400;
    font-size: 0.8125rem;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
    // max-width: 15rem;
    padding: 1rem 2rem;
    background-color: $primary-btn;
    &_secondary {
        background-color: $secondary;
        color: black;
    }
    &_primary {
        background-color: $primary-btn;
        color: white;
    }

    &_lg {
        max-width: 16.25rem;
        font-size: 1rem;
        padding: 1.25rem 3.75rem;
        @include media-max-width($tablet-breakpoint) {
            padding: 0.81rem 3rem;
        }
    }
    &_xsm {
        padding: 0.55rem 0.75rem;
        max-width: 8.75rem;
    }

    &_sm {
        padding: 0.81rem 3.75rem;
        max-width: 1rem;
        font-size: 1rem;
    }
}
