@import 'styles/mixins';
.appbar {
    display: flex;
    width: 100%;
    justify-content: space-between;
    background-color: #fff;
    align-items: center;

    @include header-gap();
    // padding : 1rem auto;
    // padding: 1rem 12rem;

    @include media-max-width($tablet-breakpoint) {
        .toolbar {
            display: none;
        }
    }

    @include media-min-width($tablet-breakpoint) {
        .humberger {
            display: none;
        }
    }
}
