// Colorr
$primary: #0065d1;
$secondary: #964aff;
$primary-btn: #fddc00;
$secondary-btn: #fffbf6;
$text-primary: #173a70;

// primary colors
$wisdom-blue: #001a70;
$intelligence-blue: #002f87;
$freedom-blue: #238dc1;
$intuition-blue: #acdee6;
$inspiration-blue: #0055b8;

// secondary colors
$secondary-orange: #ffa400;
$secondary-peach: #ff8672;
$secondary-tosca: #6bcbb8;
$secondary-violet: #410099;
$secondary-yellow: #fcd672;
$secondary-cream: #ffeebd;
$secondary-red: #fd4a5c;

//neutral
$black: #2d2a26;
$white: #fffbf6;
$sub-text: #909090;
$stroke: #dcdcdc;
