@import 'colors';

:export {
    wisdomBlue: $wisdom-blue;
    intelligenceBlue: $intelligence-blue;
    freedomBlue: $freedom-blue;
    intuitionBlue: $intuition-blue;
    inspirationBlue: $inspiration-blue;
    secondaryOrange: $secondary-orange;
    secondaryPeach: $secondary-peach;
    secondaryTosca: $secondary-tosca;
    secondaryViolet: $secondary-violet;
    secondaryYellow: $secondary-yellow;
    secondaryCream: $secondary-cream;
    secondaryRed: $secondary-red;
    black: $black;
    white: $white;
    subText: $sub-text;
    stroke: $stroke;
    primaryBtn: $primary-btn;
}
